
@using netbu.Models
@model t_rpDeclare
<html>
	<head>
	 
    <meta name="mobile-web-app-capable" content="yes">
	<meta name="viewport" content="user-scalable=yes, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
    <meta charset="utf-8"/>
    <title>Class Generate</title>
    </head>
	<body>
        <pre>
class ref@(Model.rw["DecName"].ToString()) : TC.TC_Class
{
@{
       foreach(string key in Model.ListField.Keys)      
       {
           if (Model.ListField[key].Type == "joinRow")
           {
    <text>
    joinRow _@(Model.ListField[key].FieldName);</text>           
           }
       }
 }         
    

    public override void Open(DataRow rw)
        {

            cn = new SqlConnection(MainObj.ConnectionString);
            DelProc = "@(Model.rw["DelProc"].ToString())";
            EditProc = "@(Model.rw["EditProc"].ToString())";
            KeyField = "@(Model.rw["KeyField"].ToString())";
            SaveField = new List<string>
            {
              @(Model.fmtSaveFieldList)
            };
            base.Open(rw);
        }


    public override void CreateJoin()
    {
        
            

    @{
       foreach(string key in Model.ListField.Keys)      
       {
           if (Model.ListField[key].Type == "joinRow")
           {
    <text>
        _@(Model.ListField[key].FieldName) = new joinRow(_WorkRow, "@(Model.ListField[key].FieldName)", GetFieldValue("@(Model.ListField[key].FieldName)"), @(Model.ListField[key].IdDeclare), null, @(Model.ListField[key].jointrue));
        _@(Model.ListField[key].FieldName).onSelect += delegate(object sender, EventArgs args)
        {
    </text>        
                foreach(string dstField in Model.ListField[key].LookUp.Keys)
                {
                 <text>   
                _WorkRow["@dstField"] = _TF_SV.SelectedRow["@Model.ListField[key].LookUp[dstField]"];</text>
                }
    <text>
        };
    </text>    
           }
       }
    }    
    }
    @{
       foreach(string key in Model.ListField.Keys)      
       {
           if (Model.ListField[key].Vis == "1" || Model.ListField[key].Type == "joinRow")
           {
<text>
    @(Model.ListField[key].Editor)
    [DisplayName("@(Model.ListField[key].Title)")]
    public @(Model.ListField[key].Type)  @(Model.ListField[key].FieldName)
    {
</text>        
                if (Model.ListField[key].Type == "joinRow")
                {
        <text>
        get { return _@(Model.ListField[key].FieldName); }
        set { _@(Model.ListField[key].FieldName) = value; }  
        </text>                
                } 
                else
                {
        <text>
        get { return (@(Model.ListField[key].Type))GetFieldValue("@(Model.ListField[key].FieldName)"); }
        set { _WorkRow["@(Model.ListField[key].FieldName)"] = value; }
        </text>                            
                }    
<text>                
    }
</text>               
           }
       }
    }    
}    

        </pre>
    </body>
</html> 