@using System.IO;
@using System.Net;
@using System.Text;
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../easyui/theme/easyui.css?v=7">
  <link rel="stylesheet" type="text/css" href="../easyui/theme/icon.css?v=4">
  <link rel="stylesheet" type="text/css" href="../github/frameworks-abba.css">
  <link rel="stylesheet" type="text/css" href="../github/github.css">
  <script type="text/javascript" src="../easyui/jquery.min.js"></script>
  <script type="text/javascript" src="../easyui/jquery.easyui.min.js"></script>
  <title>@(ViewBag.id)</title>
  <style>
    
    td.length { text-align:right; 
        width: 110px;
    } 
    td.modified { text-align:right; 
        width: 140px;
    }
    
    
    a { color:#1ba1e2;text-decoration:none; }
    

    a.icon {
    padding-left: 22px;
    text-decoration: none;
    }

  
    a.file1 {
    background : url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAABnRSTlMAAAAAAABupgeRAAABHUlEQVR42o2RMW7DIBiF3498iHRJD5JKHurL+CRVBp+i2T16tTynF2gO0KSb5ZrBBl4HHDBuK/WXACH4eO9/CAAAbdvijzLGNE1TVZXfZuHg6XCAQESAZXbOKaXO57eiKG6ft9PrKQIkCQqFoIiQFBGlFIB5nvM8t9aOX2Nd18oDzjnPgCDpn/BH4zh2XZdlWVmWiUK4IgCBoFMUz9eP6zRN75cLgEQhcmTQIbl72O0f9865qLAAsURAAgKBJKEtgLXWvyjLuFsThCSstb8rBCaAQhDYWgIZ7myM+TUBjDHrHlZcbMYYk34cN0YSLcgS+wL0fe9TXDMbY33fR2AYBvyQ8L0Gk8MwREBrTfKe4TpTzwhArXWi8HI84h/1DfwI5mhxJamFAAAAAElFTkSuQmCC ") left top no-repeat;
            }

    a.dir {
        background : url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAd5JREFUeNqMU79rFUEQ/vbuodFEEkzAImBpkUabFP4ldpaJhZXYm/RiZWsv/hkWFglBUyTIgyAIIfgIRjHv3r39MePM7N3LcbxAFvZ2b2bn22/mm3XMjF+HL3YW7q28YSIw8mBKoBihhhgCsoORot9d3/ywg3YowMXwNde/PzGnk2vn6PitrT+/PGeNaecg4+qNY3D43vy16A5wDDd4Aqg/ngmrjl/GoN0U5V1QquHQG3q+TPDVhVwyBffcmQGJmSVfyZk7R3SngI4JKfwDJ2+05zIg8gbiereTZRHhJ5KCMOwDFLjhoBTn2g0ghagfKeIYJDPFyibJVBtTREwq60SpYvh5++PpwatHsxSm9QRLSQpEVSd7/TYJUb49TX7gztpjjEffnoVw66+Ytovs14Yp7HaKmUXeX9rKUoMoLNW3srqI5fWn8JejrVkK0QcrkFLOgS39yoKUQe292WJ1guUHG8K2o8K00oO1BTvXoW4yasclUTgZYJY9aFNfAThX5CZRmczAV52oAPoupHhWRIUUAOoyUIlYVaAa/VbLbyiZUiyFbjQFNwiZQSGl4IDy9sO5Wrty0QLKhdZPxmgGcDo8ejn+c/6eiK9poz15Kw7Dr/vN/z6W7q++091/AQYA5mZ8GYJ9K0AAAAAASUVORK5CYII= ") left top no-repeat;
    }

    a.up {
        background : url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAmlJREFUeNpsU0toU0EUPfPysx/tTxuDH9SCWhUDooIbd7oRUUTMouqi2iIoCO6lceHWhegy4EJFinWjrlQUpVm0IIoFpVDEIthm0dpikpf3ZuZ6Z94nrXhhMjM3c8895977BBHB2PznK8WPtDgyWH5q77cPH8PpdXuhpQT4ifR9u5sfJb1bmw6VivahATDrxcRZ2njfoaMv+2j7mLDn93MPiNRMvGbL18L9IpF8h9/TN+EYkMffSiOXJ5+hkD+PdqcLpICWHOHc2CC+LEyA/K+cKQMnlQHJX8wqYG3MAJy88Wa4OLDvEqAEOpJd0LxHIMdHBziowSwVlF8D6QaicK01krw/JynwcKoEwZczewroTvZirlKJs5CqQ5CG8pb57FnJUA0LYCXMX5fibd+p8LWDDemcPZbzQyjvH+Ki1TlIciElA7ghwLKV4kRZstt2sANWRjYTAGzuP2hXZFpJ/GsxgGJ0ox1aoFWsDXyyxqCs26+ydmagFN/rRjymJ1898bzGzmQE0HCZpmk5A0RFIv8Pn0WYPsiu6t/Rsj6PauVTwffTSzGAGZhUG2F06hEc9ibS7OPMNp6ErYFlKavo7MkhmTqCxZ/jwzGA9Hx82H2BZSw1NTN9Gx8ycHkajU/7M+jInsDC7DiaEmo1bNl1AMr9ASFgqVu9MCTIzoGUimXVAnnaN0PdBBDCCYbEtMk6wkpQwIG0sn0PQIUF4GsTwLSIFKNqF6DVrQq+IWVrQDxAYQC/1SsYOI4pOxKZrfifiUSbDUisif7XlpGIPufXd/uvdvZm760M0no1FZcnrzUdjw7au3vu/BVgAFLXeuTxhTXVAAAAAElFTkSuQmCC ") left top no-repeat;
    }

  </style>
</head>
<script>
function newdir()
{

    var findobj = new FormData();
        
        findobj.append('id', '@(ViewBag.id)');
        findobj.append('dir', $('#newfolder').val());
		
		$.ajax({
	        type: 'POST',
	        url: '/Docfiles/newdir',
	        processData: false, 
        	contentType: false,
	        data: findobj, 
	        success: function(msg)
            {
                if (msg.error)
		        {
                    $.messager.alert('Ощибка создание папки', msg.error, 'error');
		        }
		        else
		        {
			        document.location.reload(true);;
		        }							
            }
        });

    
}; 
function delete_file(id, name, mode)   
{
    var obr = (mode=='file')?'файл ':'папку '
    $.messager.confirm(
                    {
                        title: 'Удаление файла/папки',
                        msg: "Удалить " + obr + "'" + name + "'?",
                        fn: function (r) {
                            if (r) {
                                
                                  
                                var findobj = new FormData();
                                findobj.append('id', id);
                                findobj.append('mode', mode);
                        
		
		    $.ajax({
	        type: 'POST',
	        url: '/Docfiles/delete_file',
	        processData: false, 
        	contentType: false,
	        data: findobj, 
	        success: function (msg) {
                                        if (msg.error)
		                                    {
                                                $.messager.alert('Ощибка удаления файла/папки', msg.error, 'error');
		                                    }
		                                else
		                                    {
			                                    document.location.reload(true);;
		                                    }
                                    }

                            });

                        }
                        },

                        ok: "Да",
                        cancel: "Нет"
                    });
};
function handleFiles(files) {
		
		if (!files.length) 
			return;	
			
        var findobj = new FormData();
        
        findobj.append('id', '@(ViewBag.id)');
        for (var i = 0; i < files.length; i++)
		    findobj.append('files', files[i], files[i].name);
		
		$.ajax({
	        type: 'POST',
	        url: '/Docfiles/upload',
	        processData: false, 
        	contentType: false,
	        data: findobj, 
	        //error : show_error,
	        success: function(msg)   
						{
						
							$('#fileElem').val('');
							if (msg.error)
							{
                                $.messager.alert('Ощибка загруки файлоа(-ов)', msg.error, 'error');
							}
							else
							{
								document.location.reload(true);
							}							
							
						}
	    });        
	    
	 }
</script> 
<body>
<input type="file" id="fileElem" style="display:none" multiple onchange="handleFiles(this.files)">
 <div class="application-main " data-commit-hovercards-enabled=""> 
 <div class="container new-discussion-timeline experiment-repo-nav  ">
 <div class="repository-content ">
 <div class="file-navigation">   
    
    <div class="BtnGroup float-right">
                <div class="BtnGroup">
                @{
                if ((ViewBag.fileacc & 2) == 2)    
                {
                <a href="#" onclick="$('#fileElem').click()"  class="btn btn-sm BtnGroup-item">Загрузить файл</a>
                }
                }
                @{
                if ((ViewBag.fileacc & 4) == 4)    
                {
                <a href="#" onclick="newdir()" class="btn btn-sm empty-icon float-right BtnGroup-item">Создать папку:</a>
                }
                }
                </div>
                @{
                if ((ViewBag.fileacc & 4) == 4)    
                {
                <div class="BtnGroup">
                <input type="text" id="newfolder" />
                </div>
                }
                }
    </div>


    <div class="breadcrumb mb-2">
        <!--
        <span class="js-repo-root text-bold">
            <span class="js-path-segment">
                <a data-pjax="true" href="/flightphone/netbu">
                <span>netbu</span></a>
                </span>
                </span>
                <span class="separator">/</span>
        -->        
                <strong class="final-path">@ViewBag.id</strong>
                
                <!--<span class="separator">/</span>-->
                
    </div>
  </div>   
  <div class="commit-tease js-details-container Details d-flex rounded-top-1" data-issue-and-pr-hovercards-enabled="">
      <div class="flex-auto f6 mr-3">
          Вы зашли как: <b>@(User.Identity.Name)</b>
          @{
              if ((ViewBag.fileacc & 1) == 0) 
              {
                  <span>(отказано в доступе)</span>
              }
        
          }
      </div>
   </div>   
   
    <div class="file-wrap">
    <table  class="files js-navigation-container js-active-navigation-container">
    <thead>
      <tr><th></th><th></th><th></th></tr>
    </thead>
    <tbody>
    @{
        if ((ViewBag.fileacc & 1) == 1) 
        {
        if (!string.IsNullOrEmpty(ViewBag.parent))
        {
            <tr class="files js-navigation-container js-active-navigation-container">
                <td class="name"><a href="/Docfiles/dir?id64=@(Convert.ToBase64String(Encoding.UTF8.GetBytes(ViewBag.parent), Base64FormattingOptions.None))" class="icon up">...</a></td>
                <td></td>
                <td class="modified"></td>
            </tr>
        }
        }

    }        
    @{
        if ((ViewBag.fileacc & 1) == 1) 
        {
        foreach (DirectoryInfo di in ViewBag.di.GetDirectories())
        {
            <tr class="files js-navigation-container js-active-navigation-container">
                <td class="name"><a href='/Docfiles/dir?id64=@(Convert.ToBase64String(Encoding.UTF8.GetBytes(ViewBag.id + di.Name + "/"), Base64FormattingOptions.None))' class="icon dir">@(di.Name)</a></td>
                <td></td>
                
                
                    <td class="modified">@(di.LastAccessTime.ToString("dd.MM.yyyy HH:mm"))
                    @{
                    if ((ViewBag.fileacc & 8) == 8)
                    {    
                        <a href="#" onclick="delete_file('@(ViewBag.id)@(di.Name)/', '@(di.Name)/', 'dir')">X</a>
                    }    
                    }
                    </td>
                
                
                
            </tr>

        }
        }
    }

    @{
        if ((ViewBag.fileacc & 1) == 1) 
        {
        foreach (FileInfo fi in ViewBag.di.GetFiles())
        {
            <tr class="files js-navigation-container js-active-navigation-container">
            <td class="name"><a href="/Docfiles/file?id64=@(Convert.ToBase64String(Encoding.UTF8.GetBytes(ViewBag.id + fi.Name), Base64FormattingOptions.None))" class="icon file1">@(fi.Name)</a></td>
            <td class="length">@(fi.Length.ToString("#,##"))</td>
            
            <td class="modified">@(fi.LastAccessTime.ToString("dd.MM.yyyy HH:mm"))
            @{
            if ((ViewBag.fileacc & 8) == 8){    
                <a href="#" onclick="delete_file('@(ViewBag.id)@(fi.Name)', '@(fi.Name)', 'file')">X</a>
            }
            }    
            </td>
            </tr>

        }
        }

    }  
      
    
    </tbody>
    </table>
  </div>
</div>  
</div>  
</div>  
</body>
</html>